# Custom

Project-1213.pdf

report/*
!report/report.tex
!report/report.pdf
!report/rapport.tex
!report/rapport.pdf
!report/rapport_Fusionnnnn.tex
!report/rapport_Fusionnnnn.pdf

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
